html {
    width: 100vw;
    height: 100vh;
}
body {
    width: 100vw;
    height: 100vh;
}


#featuresContainer {
    position: relative;
    width: 30vw;
    height: 100vh;
}

#optionsContainer {
    position: relative;
    width: 30vw;
    height: 100vh;
}

#babylonCanvas {
    position: relative;
    width: 40vw;
    height: 100vh;
}

.color-item {
    width: 100px;
    height: 100px;
    cursor: pointer;
}